@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #0471d8;
	--text-color: #727171;

}

/* header*/
	.header {
		display: flex;
		justify-content: space-between;
		margin-left: 100px;
		margin-right: 100px;
		padding: 10px;
		height: 50px;
	   
	   font-size: 20px;
	}
	
	.header-logo img {
		height: 25px;
		
		
	}
	
	ul {
		display: flex;
		list-style: none;
		gap: 20px;
	}
	
	ul li a{
		text-decoration: none;
		color: var(--text-color);
	}

	a:hover {
		color: var(--primary-color);
		background: transparent;
		 box-shadow:none;
	}
		  
	

html {
	font-size: 25px;
}

body {
	font-family: Inter, sans-serif;
	background-color: black;
	color: white;
	
}

/* Form */

.contato-content {
    display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}

.form {
    background-color: #fff;
    width: 800px;
    padding: 20px;
    border-radius: 3%;
    box-shadow: 5px 5px 5px 5px var(--primary-color);

}
.container-form {

    position: relative;
    max-width: 500px;
    width: 100%;
    margin: auto;
    background: #FFF;
    padding: 25px;
    border-radius: 8px;
    
    
  
  }
  
  .container-form .title-form {
    font-size: 1.2em;
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
  }
  
  .container-form .form {
    margin-top: 15px;
    
    
  }
  
  .form .input-box {
    width: 100%;
    margin-top: 10px;
  }
  
  .input-box label {
    color: var(--text-color);
  }

  body label {
    color: var(--text-color);
  }  
  .form :where(.input-box input, .select-box) {
    
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: var(--primary-color);
    margin-top: 5px;
    border: 1px solid #A4E3F0;
    border-radius: 6px;
    padding: 0 15px;
    background: #E9F8FB;
  
  }
  
  .input-box input:focus {
    box-shadow: 0 1px 0 var(--primary-color);
  }
  
  .form :where(.input-box textarea) {
    
    position: relative;
    height: 100px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: var(--primary-color);
    margin-top: 5px;
    border: 1px solid #A4E3F0;
    border-radius: 6px;
    padding: 10px;
    background: #E9F8FB;
  
  }
  
  .input-box textarea:focus {
    box-shadow: 0 1px 0 var(--primary-color);
  }
  
  .form .column {
    display: flex;
    column-gap: 15px;
  }
  
  .form .pessoa-box {
    margin-top: 10px;
  }
  
  .form :where(.pessoa-option, .pessoa) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }
  
  .form .pessoa {
    column-gap: 5px;
  }
  
  .pessoa input {
  
    accent-color: var(--primary-color);
    float: left;
    width: 15px;
    height: 15px;
  
  }
  
  .form :where(.pessoa input,.pessoa textarea, .pessoa label) {
    cursor: pointer;
  }
  
  .pessoa label {
    color:var(--text-color);
  }
  
  .address :where(input, .select-box) {
    margin-top: 10px;
  }
  
  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #808080;
    font-size: 1em;
    background: #e9f8fb;
  }
  
  .form button {
    height: 40px;
    width: 100%;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    background:var(--primary-color);
  }
  
  .form button:hover {
    background: var(--text-color);
    
  }
  
  /*Anti-span*/
  .naoexibir { display:none; }

 /*footer*/
.site-footer {
  background-color: var(--primary-color);
	text-align: center;
	margin: 10px 0;
	padding: 10px 0;
 
}

#social-wrapper {
	text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
	text-align: center;
}

.social-wrapper ul li {
	display: inline;
	margin: 0 5px;
}

.linkedin-icon,
.instagram-icon,
.github-icon {
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: .6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
}

.linkedin-icon:hover,
.instagram-icon:hover,
.github-icon:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
	text-align: center;
  color: #fff;
}